<footer
  class="text-center text-lg-start bg-light text-muted"
  data-aos="fade-up"
  data-aos-offset="20"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Temukan kami di jaringan sosial :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a
        href="https://www.facebook.com/kejari.manado.33"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://www.google.com/search?q=kejaksaan+tinggi+sulawesi+utara&rlz=1C1JJTC_idID1052ID1052&ei=dcNGZI-MHry9juMPxLG12AU&ved=0ahUKEwjPmt6fjMP-AhW8nmMGHcRYDVsQ4dUDCA4&uact=5&oq=kejaksaan+tinggi+sulawesi+utara&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCC4QigUQxwEQrwEQQzIFCAAQgAQyBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMhgILhCKBRDHARCvARBDENwEEN4EEOAEGAFKBAhBGABKBQhAEgExUCBYzgRgzwhoAHAAeACAAYIEiAGCBJIBAzUtMZgBAKABAcABAdoBBggBEAEYFA&sclient=gws-wiz-serp"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-google"></i>
      </a>
      <a
        href="https://www.instagram.com/kejarimanado/"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/UCERInCqlnCW6qvPJwZuTs7Q"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-youtube"></i>
      </a>
      <a
        href="https://twitter.com/knmanado"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-twitter"></i>_
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Image -->
          <img src="./assets/logo.png" alt="logo" width="155px" />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-success">NAVIGASI</h6>
          <p>
            <a href="/" target="_blank" class="text-reset text-decoration-none"
              ><i class="bi bi-house-door-fill"></i> Beranda</a
            >
          </p>
          <p>
            <a
              href="/masuk"
              target="_blank"
              class="text-reset text-decoration-none"
              ><i class="bi bi-inboxes-fill"></i> Surat Masuk</a
            >
          </p>
          <p>
            <a
              href="/keluar"
              target="_blank"
              class="text-reset text-decoration-none"
              ><i class="bi bi-envelope-paper-fill"></i> Surat Keluar</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-success">Contact</h6>
          <p>
            <i class="fas fa-home me-3"></i> Jl. 17 Agustus No. 70, Teling Atas,
            Wanea, Tj. Batu, Kec. Wanea, Kota Manado, Sulawesi Utara
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            admin@kejatisulut.go.id
          </p>
          <p><i class="fas fa-phone me-3"></i> 0811-4300-1444</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a
      type="button"
      class="text-success fw-bold"
      target="_blank"
      style="text-decoration: none"
      >Kejaksaan Tinggi Sulawesi Utara</a
    >
  </div>
  <!-- Copyright -->
</footer>
