<div class="container-fluid">
  <div class="row p-5 justify-content-center">
    <div class="col-4">
      <h3>Masuk</h3>
      <br />
      <form action="/user" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Alamat Email</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            autocomplete="off"
            required
          />
          <div id="emailHelp" class="form-text">
            Kami tidak akan memberitahukan email anda kepada siapapun.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-outline-success">
          <i class="bi bi-box-arrow-in-right"></i> Masuk
        </button>
      </form>
    </div>
    <div class="col-5 text-center align-self-center">
      <img
        src="./assets/logo.png"
        alt="logo"
        width="200"
        style="opacity: 0.6"
      />
    </div>
  </div>
</div>
